.container{
    border: 1px dashed black;
  
}

.container-fluid{
    border: 1px dashed darkorange;
   
}

.row{
    border: 1px solid darkorchid;
    
}

[class^="col"]{
    border: 1px solid deepskyblue;
    min-height: 70px;
}
/* ************************** */

/* NAVBAR CON BARRA LOGO */




#header-logo{
    background-color: black;
    height: 30px;
    position: relative;
}

.sony-logo{
    width: 100px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.nav{
        height: 70px;
        
    }

.nav-menu ul li, a,
.my-ps ul li, a{
  display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: 500;
    
}


.row #play-logo{
width: 85px;
vertical-align: middle;
}

#nav-menu{
    height: 70px;
    font-size: 13px;
    font-weight: 300;
   
}

.sign-in{
    border: 1px solid grey;
    border-radius: 20px;
    background-color:rgb(53, 52, 52);
    padding: 10px;
    width: 90px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.my-ps{
    margin-right: 5px;
}

/* @media screen (min-width:576px) {

    ul{
        display: none;
    displa
    }
} */

/* JUMBOTRON REVIVAL */



#jumbotron{
    min-height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}
.logo-returnal{
    width: 100%;
    object-fit: cover;
}
.buttom{
    border-radius: 20px; 
    padding: 10px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
}

.orange-buttom{
    background-color: rgb(219, 59, 1);
    
}

/* SEZIONE CARTE ANIMATE DI GAMES  */

#games{
    margin-top: 30px;
}

.rounded {
    border-radius: .55rem!important;
}

.rounded:hover{
    border: 3px solid rgb(7, 89, 243);
    border-radius:10px ;
    padding: 3px;
    transform:translateY(-25px);
}

/* SEZIONE PLAYSTATION 5 */

#play-station5{
    margin-top: 30px;    
}
.titol{
    text-align: center;
}

#blue{
    color: rgb(7, 89, 243);
    font-weight: 500;
}

#grey{
    padding: 10px;
    color: grey;
    font-weight: 500;
}

.buttom-blue{
    border-radius: 20px;
    padding: 2px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    background-color:rgb(7, 89, 243);
    color:white;
}

.box-PS5{
    line-height: 2.5em;
}

#text{
    font-size: 20px;
}

/* INSERIMENTO IMMAGINI ACCESSORI */

.fitting{
    opacity:0.4 ;
    text-align: center;
}

.fitting:hover{
    opacity: 1;
    border-bottom:2px solid rgb(7, 89, 243);
}

.fitting-active{
    border-bottom:2px solid rgb(7, 89, 243);
    text-align: center;
}

/* SEZIONE JUMBOTRONE IT TAKE */

#second-jumbotron{
    margin-top: 30px;
    min-height: 500px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.logo-take{
    width: 200px;
    object-fit: cover;
   
}

.it-takes {
    padding-left: 20px;
}

.it-takes p{
margin-top:20px ;
font-size: 15px;
}