

/* NAVBAR CON BARRA LOGO */




#header-logo{
    background-color: black;
    height: 30px;
    position: relative;
}

.sony-logo{
    width: 100px;
    position: absolute;
    right: 5px;
    top: 5px;
}


.nav-menu ul li, a,
.my-ps ul li, a{
  display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: 500;   
}
.nav-menu a:hover{
    color: rgb(7, 89, 243);
}
.my-ps a:hover{
    color: rgb(7, 89, 243);
}


.nav-menu a,
.my-ps a{
    padding: 5px;
    margin-left: 20px;
}


.row #play-logo{
width: 85px;
vertical-align: middle;
}

#nav-menu{
   
    font-size: 12px;
    font-weight: 300;
   
}

.sign-in{
    border: 1px solid grey;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px;
    width: 90px;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

.sign-in a{
    color: white;
}

.grey{
    background-color:rgb(53, 52, 52);
}



.grey:hover{
    border-color: #e1e4e6;
    box-shadow: 0px 0px 3px #111111;
    color: white;
}

.my-ps{
    margin-right: 5px;
}

.fa-bars {
    font-size: 40px;
    margin: 15px;
}


/* JUMBOTRON REVIVAL */



#jumbotron{
    min-height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}
.logo-returnal{
    width: 100%;
    object-fit: cover;
}
.buttom{
    border-radius: 20px; 
    border: 3px solid transparent;
    padding: 7px;
    width: 170px;
    text-align: center;
    vertical-align: middle;
}

.orange-buttom{
    background-color: rgb(219, 59, 1);
    
}

.buttom a{
    color: white;
}

.orange-buttom:hover{
    border-color: #202224;
    box-shadow: 0px 0px 3px #eea975;
}


/* SEZIONE CARTE ANIMATE DI GAMES  */

#games{
    margin-top: 30px;
}

.rounded-card {
    border-radius: .55rem!important;
    border: 3px solid transparent;
}
.active{
    border: 3px solid rgb(7, 89, 243);
}

.rounded-card:hover{
    border-radius:10px ;
    padding: 3px;
    transform:translateY(-10px);
}

/* SEZIONE PLAYSTATION 5 */

#play-station5{
    margin-top: 30px;    
}
.titol{
    text-align: center;
}

#blue{
    color: rgb(7, 89, 243);
    font-weight: 500;
}

#grey{
    padding: 10px;
    color: grey;
    font-weight: 500;
    font-size: 18px;
}

.buttom-blue {
    border: 3px solid transparent;
    border-radius: 25px;
    width: 190px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;  
    padding: 7px;
}

.blue{
    background-color:rgb(7, 89, 243);
}

.buttom-blue a{
    color: white;
}
.blue:hover{
    /* opacity: 0.8;
    border: 3px solid rgb(107, 149, 240); */
   
}

.blue:hover{
    border-color: #f1f6fa;
    box-shadow: 0px 0px 3px #0b38f0;
}


#text{
    font-size: 20px;
}

/* INSERIMENTO IMMAGINI ACCESSORI */

.fitting{
    opacity:0.4 ;
    text-align: center;
}

.fitting:hover{
    opacity: 1;
    border-bottom:2px solid rgb(7, 89, 243);
}

.fitting-active{
    border-bottom:2px solid rgb(7, 89, 243);
    text-align: center;
}

/* SEZIONE JUMBOTRONE IT TAKE */

#second-jumbotron{
    margin-top: 30px;
    min-height: 500px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.logo-take{
    width: 200px;
    object-fit: cover;
   
}

.it-takes {
    padding-left: 20px;
}

.it-takes p{
margin-top:20px ;
font-size: 15px;
}

/* SEZIONE PS4 */

#ps4 div{
    font-size: 20px;
}

/* SEZIONE NUOVE USCITE */

#new{
    background-color: rgb(39, 39, 39);
    color: white;
}

.rounded-new{
    border-radius: .65rem!important;
}


#explore .buttom-blue{
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

/* SEZIONE PLAYSTATION PLUS */

.plus{
    background-color: rgb(221, 232, 238);
    width: 210px;
    margin-top: 20px;
}

.plus a{
    color: rgb(7, 89, 243);
}

#PSPLUS{
    background-color: rgb(192, 192, 192); 
    margin-top: 20px;  
}

.logo-plus{
    margin-bottom: 15px;
}
.ps-plus h6{
font-size: 20px;
}
.plus:hover{
    border-color: #f1f6fa;
    box-shadow: 0px 0px 3px #a2a2a3;
}
/* DISCOUNT  */

#discount{
    margin-bottom: 30px;
}

/* PS-NOW */

#ps-now{
    color: white;
    background-color: rgb(3, 3, 110);

}

.logo-now{
    margin-bottom: 25px;
}

.now{
    width : 220px;
    background-color: cornsilk;
    margin-top: 25px;
}

.now a{
    color: black;
    
}

.now:hover{
    border-color: #5249fa;
    box-shadow: 0px 0px 3px #f3f3f7;
}


#social{
    text-align: center;
    margin-top: 40px;
}
#social h2{
    margin-bottom: 40px;
}


/* FOOTER */

#footer{
    background-color: rgb(10, 48, 175);
    color: white;
}

.logo-footer{
    width: 150px;
    margin-bottom: 15px;

}

#footer li{
    list-style-type: none;
}