.container{
    border: 1px dashed black;
  
}

.container-fluid{
    border: 1px dashed darkorange;
   
}

.row{
    border: 1px solid darkorchid;
    
}

[class^="col"]{
    border: 1px solid deepskyblue;
}
/* ************************** */

/* NAVBAR CON BARRA LOGO */




#header-logo{
    background-color: black;
    height: 30px;
    position: relative;
}

.sony-logo{
    width: 100px;
    position: absolute;
    right: 5px;
    top: 5px;
}


.nav-menu ul li, a,
.my-ps ul li, a{
  display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: 500;   
}

.nav-menu a,
.my-ps a{
    padding: 5px;
    margin-left: 20px;
}


.row #play-logo{
width: 85px;
vertical-align: middle;
}

#nav-menu{
   
    font-size: 12px;
    font-weight: 300;
   
}

.sign-in{
    border: 1px solid grey;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px;
    width: 90px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.sign-in a{
    color: white;
}

.grey{
    background-color:rgb(53, 52, 52);
}

.grey:hover{
    opacity: 0.7;
    border: 3px solid rgb(129, 129, 129);
    color: white;
}


.my-ps{
    margin-right: 5px;
}

/* @media screen (min-width:576px) {

    ul{
        display: none;
    displa
    }
} */

/* JUMBOTRON REVIVAL */



#jumbotron{
    min-height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}
.logo-returnal{
    width: 100%;
    object-fit: cover;
}
.buttom{
    border-radius: 20px; 
    border: 3px solid transparent;
    padding: 7px;
    width: 170px;
    text-align: center;
    vertical-align: middle;
}

.orange-buttom{
    background-color: rgb(219, 59, 1);
    
}

.buttom a{
    color: white;
}

.orange-buttom:hover{
    opacity: 0.7;
    border: 3px solid rgb(238, 138, 101);
    
}

/* SEZIONE CARTE ANIMATE DI GAMES  */

#games{
    margin-top: 30px;
}

.rounded-card {
    border-radius: .55rem!important;
    border: 3px solid transparent;
}

.rounded-card:hover{
    border: 3px solid rgb(7, 89, 243);
    border-radius:10px ;
    padding: 3px;
    transform:translateY(-10px);
}

/* SEZIONE PLAYSTATION 5 */

#play-station5{
    margin-top: 30px;    
}
.titol{
    text-align: center;
}

#blue{
    color: rgb(7, 89, 243);
    font-weight: 500;
}

#grey{
    padding: 10px;
    color: grey;
    font-weight: 500;
    font-size: 18px;
}

.buttom-blue {
    border: 3px solid transparent;
    border-radius: 25px;
    width: 190px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;  
    padding: 7px;
}

.blue{
    background-color:rgb(7, 89, 243);
}

.buttom-blue a{
    color: white;
}
.blue:hover{
    opacity: 0.8;
    border: 3px solid rgb(107, 149, 240);
   
}


#text{
    font-size: 20px;
}

/* INSERIMENTO IMMAGINI ACCESSORI */

.fitting{
    opacity:0.4 ;
    text-align: center;
}

.fitting:hover{
    opacity: 1;
    border-bottom:2px solid rgb(7, 89, 243);
}

.fitting-active{
    border-bottom:2px solid rgb(7, 89, 243);
    text-align: center;
}

/* SEZIONE JUMBOTRONE IT TAKE */

#second-jumbotron{
    margin-top: 30px;
    min-height: 500px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.logo-take{
    width: 200px;
    object-fit: cover;
   
}

.it-takes {
    padding-left: 20px;
}

.it-takes p{
margin-top:20px ;
font-size: 15px;
}

/* SEZIONE NUOVE USCITE */

#new{
    background-color: rgb(39, 39, 39);
    color: white;
}

.rounded-new{
    border-radius: .65rem!important;
}


#explore .buttom-blue{
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}